.Main-background{
    padding: 5px;
    background-color: rgba(144, 144, 144, 0.006);

}

.Main-second-background{
    background-color: rgb(28, 28, 28);
}

@media (min-width: 732px) {
    .Main-background{
        padding: 5px 100px 0px 100px;
       
    }
}

@media (min-width: 932px) {
    .Main-background{
        padding: 5px 150px 0px 150px;
        
    }
}

@media (min-width: 1132px) {
    .Main-background{
        padding: 5px 250px 0px 250px;
        
    }
}