
.Main-title{
    padding: 20px;
}

.Main-title > h1{
    background-color: #696CFF;
    width: max-content;
    padding: 5px;
    border-radius: 5px;
}

.Cards{
    margin-bottom: 70px;
    padding: 20px;
}

.Cards > .Card{
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, rgba(103, 103, 103, 0.749), rgba(88, 88, 88, 0.235));
}

.Cards > .Card:hover{
    background-color: #ffffff34;
    cursor: pointer;
}

.Card > .Card-Text > h3{
    font-size: 1rem;
    color: white;
}

.Card > .Card-Text > p{
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    
}

@media (min-width: 632px) {
    .Cards{
        gap: 20px;
    }
    
}


@media (min-width: 1032px){
    .Main-title{
        padding: 20px 65px 30px;
    }

    .Cards{
        padding: 0px 65px 30px;
        display: flex;
        gap: 10px;
    }

    .Card{
        height: 230px;
    }
}

@media (min-width: 1332px){
    .Main-title{
        padding: 20px 65px 30px;
    }

    .Cards{
        padding: 0px 65px 30px;
        
    }

    .Card{
        height: 270px;
    }

    .Card > .Card-Text > h3{
        font-size: 1.5rem;
        color: white;
    }

    .Card > .Card-Text > p{
        font-size: 1rem;
    } 
}

@media (min-width: 1632px) {
    .Main-title{
        padding: 20px 150px 30px;
    }

    .Cards{
        padding: 0px 150px 30px;
        
    }

    .Card > .Card-Text > h3{
        font-size: 1.2rem;
        color: white;
    }

    .Card > .Card-Text > p{
        font-size: 0.8rem;
    } 
}